build/
build-*/
Debug/
Release/
debug/
release/
x64/
x86/
out/
bin/
obj/


.vs/
*.user
*.suo
*.db
*.opendb
*.VC.db
*.sln.docstates
*.pdb
*.ilk
*.idb
*.pch
*.res
*.tlog
*.log


*.pro.user
*.pro.user.*
CMakeLists.txt.user
Makefile
Makefile.*
moc_*.cpp
ui_*.h
qrc_*.cpp
.qmake.stash
.qmake.cache


CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeLists.txt.user


*.exe
*.dll
*.lib
*.exp
*.o
*.obj